name: Update Language Heatmap

on:
  push:
    branches: [ main ]
    paths-ignore:
      - heatmap.svg
      - progress.json

jobs:
  heatmap:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Generate heatmap
        run: node generate.js

      - name: Commit & push if changed
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add progress.json heatmap.svg
          git diff --cached --quiet || git commit -m "chore: update heatmap"
          git push
